<p>pokemons works!</p>
<div *ngIf="pokemons$ | async as pokemons">
  <div *ngFor="let pokemon of pokemons" routerLink="/pokemon">
    <a [routerLink]='pokemon.name'>{{pokemon.name }}</a>
  </div>
</div>
<mat-paginator
  (page)="handlePageEvent($event)"
  class="mat-paginator"
  [pageSize]="pokemonPageSize$ | async"
  [pageSizeOptions]="pageSizeOptions"
  [length]="pokemonsCount$ | async"
  [pageIndex]="pokemonPageIndex$ | async"
  showFirstLastButtons
  [disabled]="isLoading$ | async"



>
</mat-paginator>
