
<div *ngIf="pokemons$ | async as pokemons" class="card-container">

  <div *ngFor="let pokemon of pokemons" >
    <pk-pokemon-card *ngIf="inPokedox(pokemon.id) !== null" [pokemon]="pokemon" [inPokedox]="inPokedox(pokemon.id) | async"></pk-pokemon-card>
  </div>
</div>

<mat-paginator
  (page)="handlePageEvent($event)"
  class="mat-paginator"
  [pageSize]="pokemonPageSize$ | async"
  [pageSizeOptions]="pageSizeOptions"
  [length]="pokemonsCount$ | async"
  [pageIndex]="pokemonPageIndex$ | async"
  showFirstLastButtons
  [disabled]="isLoading$ | async"
>
</mat-paginator>
