.card {
  margin: 0 auto;
  min-width: 400px;
  max-width: 600px;
}

mat-card-subtitle{
  margin-bottom: 8px;
}

.header-image {
  width: 75px;
  height: 75px;
}
.mainImage {
  width: auto;
  max-height: 600px;
  display: block;
  margin: 10px auto;
}
