<mat-card class="card">

  <mat-card-header>
    <mat-card-title><span>{{pokemon.id}} </span>{{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>{{types}}</mat-card-subtitle>
    <a [routerLink]="pokemon.name" >
      <img mat-card-sm-image [src]="pokemon.sprites.front_default" alt="Photo of pokemon" width="25px">
    </a>
  </mat-card-header>


  <mat-card-actions>
    <button *ngIf="inPokedox" mat-stroked-button (click)="removeFromPokedox(pokemon.id)">remove </button>
    <button *ngIf="!inPokedox" mat-button (click)="addToPokedox(pokemon.id)">add</button>
  </mat-card-actions>
</mat-card>
